<app-spinner-overlay *ngIf="isLoading"></app-spinner-overlay>
<mat-toolbar color="primary">
  <span>
    <a routerLink="/">qwerty</a>
  </span>
  <div class="spacer"></div>
  <button mat-button *ngIf="!userIsAuthenticated" routerLink="/login">Login</button>
  <button mat-button *ngIf="!userIsAuthenticated" routerLink="/signup">Sign Up</button>
  <button mat-button *ngIf="userIsAuthenticated" routerLink="/create">New Post</button>
  <button mat-button *ngIf="userIsAuthenticated" (click)="onLogout()">Logout</button>
</mat-toolbar>
