<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onAddPost()" *ngIf="!isLoading">
    <mat-form-field>
      <input 
        matInput 
        type="text" 
        formControlName="title"
        placeholder="Post Title">
      <mat-error *ngIf="form.get('title')?.invalid">Please enter a post title (at least 3 characters)</mat-error>
    </mat-form-field>
    <div class="file-input-container" (click)="filePicker.click()">
      <div *ngIf="!imagePreview || imagePreview === ''; else previewTemplate">
        <button 
          mat-stroked-button 
          type="button">
          <mat-icon>add_photo_alternate</mat-icon>
          Pick Image
        </button>
      </div>
      <ng-template #previewTemplate>
        <div class="image-preview-container">
          <img [src]="imagePreview" [alt]="form.value.title">
        </div>
      </ng-template>
      <input 
        type="file" 
        #filePicker
        accept="image/png,image/jpeg"
        (change)="onImagePicked($event)">
    </div>
    <mat-form-field>
      <textarea 
        matInput 
        rows="4" 
        formControlName="content"
        placeholder="Post Content"></textarea>
      <mat-error *ngIf="form.get('content')?.invalid">Please enter post content</mat-error>
    </mat-form-field>
    <button 
      mat-raised-button 
      color="primary" 
      type="submit">Save Post</button>
  </form>
</mat-card>